<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not Hesaplama</title>
</head>
<body>
<form action="" method="post"> {% csrf_token %}
    <label><b>TCKN:</b></label>
    <input type="text" id="tckn" placeholder="Tckn Girin"  name="tckn" size="50" required><br><br>
    <label><b>Vize:</b></label>
    <input type="text" id="vize" placeholder="Vize Notunu Girin"  name="vize" size="50" required><br><br>
    <label><b>Final:</b></label>
    <input type="text" id="final" placeholder="Final Notunu Girin"  name="final" size="50" required><br><br>
    <input type="submit" value="Hesapla">
<hr/>
    {% if messages %}
    {% for x in messages %}
    <h2>{{x}}</h2>
    {% endfor %}
    {% endif %}
</form>
</body>
</html>